.menu-detail {
  #expandedImg {
      margin-top: 25px;
  }
}

.column {
  float: left;
  width: 16.4%;
  padding-left: 15px;
  padding-top: 12px;
  img {
    opacity: 0.8; 
    cursor: pointer;    
    &:hover {
      opacity: 1;
    } 
  }
}
    
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}